<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Sistema</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

</head>
<body>

    <div th:fragment="menu">

        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <a class="navbar-brand">Sistema</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active listarQuaisParticipo" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/correspondente/lista}">Correspondente</a>
                    </li>
                    <li class="nav-item active" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/home}"><span class="glyphicon glyphicon-log-in"></span> Entrar</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

</body>
</html>